.navbar
{
    min-height: 72px;
}
.navbar-default {
    background-color: #1c9dc2;
    border-color: #1886a5;
}
.navbar-fixed-top
{
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    border-width: 0 0 1px;
    z-index: 1030;
}
.container
{
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}