<header class="header">
  <div class="wrapper">
    <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>
    <nav class="site-nav">
      {% for page in site.pages %}
        {% if page.title and page.public %}
        <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
        {% endif %}
      {% endfor %}
    </nav>
  </div>
</header>

<div class="home-template">
    <header class="main-header" style="background-image: url(1.jpg);">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <a class="branding" href="http://www.cnblogs.com/cyclone77/" title="Cyclone77's Blog">
                        <img>
                    </a>
                    <h2 class="text-hide">若你真的很想要一件事，你得准备好非常努力、善用机会，而最重要的是绝不放弃。</h2>
                </div>
            </div>
        </div>
    </header>
    <nav class="main-navigation">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="navbar-header">
                        <span class="nav-toggle-button collapsed" data-toggle="collapse" data-target="#main-menu">
                            <span class="sr-only">Toggle navigation</span>
                            <i class="glyphicon glyphicon-tasks"></i>
                        </span>
                    </div>
                    <div class="collapse navbar-collapse" id="main-menu">
                        <ul class="menu">
                            <li role="presentation"><a href="#">博客园</a></li>
                            <li class="nav-current" role="presentation"><a href="#">首页</a></li>
                            <li role="presentation"><a href="#">JavaScript</a></li>
                            <li role="presentation"><a href="#">Css</a></li>
                            <li role="presentation"><a href="#">其他</a></li>
                            <li role="presentation"><a href="#">关于</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</div>